
<ul class="nav nav-pills">
	<li>
		
		<%= link_to "Home", root_path%>
	</li>
	<li>
		
		<%= link_to "Bands", bands_path%>
	</li>
	<li>
		<%= link_to "Contact", contact_path%>
	</li>
	<li>
		<%= link_to "Terms", terms_path%>
	</li>
	<li>
		<%= link_to "About us", about_path%>
	</li>

</ul>
