
    
      

    <% @bands.each do |band| %>
      <div class="post">
        <h2>
        <%= band.name %>
        </h2>
        <div class="meta">
          Posted on:
          <%= band.created_at.strftime("%F,%T") %>
        </div>
        <div class="content">
          <%= band.desription %>
          <p>
            <%= link_to "Citeste mai mult", band%>
          </p>
        </div>

        <div class="actions">

          <%= link_to 'Edit', edit_band_path(band) %>
          <%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

    <br />

    <%= link_to 'New Band', new_band_path %>

  

